# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***

 - The list of popular languages that Data Scientists use
 - The list of commonly used libraries used by Data Scientists
 - The list of Data Science Tools
 - Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. NumPy

| Data Science Tools |
| ---------------- |
| MySQL |
| Jupyter |
| Airflow |

### Below are a few examples of evaluating arithmetic expressions in Python
+, -, /, *

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Akane Yoneda